@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Bold.eot');
	src: url('Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Bold.woff') format('woff'),
		url('Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
/*@font-face {
	font-family: 'Helvetica';
	src: url('Abel-Pro/Abel-Pro.otf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica';
	src: url('Agency/Agency.ttf');
	font-weight: 400;
	font-style: normal;
}*/
@font-face {
	font-family: 'Helvetica';
	src: url('Arch/Arch.otf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica';
	src: url('Arch/Arch-Bold.otf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Rage';
	src: url('RageItalic.eot');
	src: url('RageItalic.eot?#iefix') format('embedded-opentype'),
		url('RageItalic.woff') format('woff'),
		url('RageItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'SFDigitalReadout-Light';
	src: url('TickingTimebombBB.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Thin.eot');
	src: url('Raleway-Thin.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Thin.woff') format('woff'),
		url('Raleway-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Medium.eot');
	src: url('Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Medium.woff') format('woff'),
		url('Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Heavy.eot');
	src: url('Raleway-Heavy.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Heavy.woff') format('woff'),
		url('Raleway-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-SemiBold.eot');
	src: url('Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-SemiBold.woff') format('woff'),
		url('Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Light.eot');
	src: url('Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Light.woff') format('woff'),
		url('Raleway-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-ExtraLight.eot');
	src: url('Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('Raleway-ExtraLight.woff') format('woff'),
		url('Raleway-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway.eot');
	src: url('Raleway.eot?#iefix') format('embedded-opentype'),
		url('Raleway.woff') format('woff'),
		url('Raleway.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-ExtraBold.eot');
	src: url('Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-ExtraBold.woff') format('woff'),
		url('Raleway-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Bl';
	src: url('ProximaNova-BlackIt.eot');
	src: url('ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-BlackIt.woff') format('woff'),
		url('ProximaNova-BlackIt.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Th';
	src: url('ProximaNovaCond-Extrabld.eot');
	src: url('ProximaNovaCond-Extrabld.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaCond-Extrabld.woff') format('woff'),
		url('ProximaNovaCond-Extrabld.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExCn Lt';
	src: url('ProximaNovaExCn-LightIt.eot');
	src: url('ProximaNovaExCn-LightIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaExCn-LightIt.woff') format('woff'),
		url('ProximaNovaExCn-LightIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Th';
	src: url('ProximaNovaCond-ExtrabldIt.eot');
	src: url('ProximaNovaCond-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaCond-ExtrabldIt.woff') format('woff'),
		url('ProximaNovaCond-ExtrabldIt.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova ExCn Lt';
	src: url('ProximaNovaExCn-Semibold.eot');
	src: url('ProximaNovaExCn-Semibold.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaExCn-Semibold.woff') format('woff'),
		url('ProximaNovaExCn-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExCn Rg';
	src: url('ProximaNovaExCn-RegularIt.eot');
	src: url('ProximaNovaExCn-RegularIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaExCn-RegularIt.woff') format('woff'),
		url('ProximaNovaExCn-RegularIt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url('ProximaNovaCond-Semibold.eot');
	src: url('ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaCond-Semibold.woff') format('woff'),
		url('ProximaNovaCond-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Th';
	src: url('ProximaNovaCond-Thin.eot');
	src: url('ProximaNovaCond-Thin.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaCond-Thin.woff') format('woff'),
		url('ProximaNovaCond-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Th';
	src: url('ProximaNovaCond-ThinIt.eot');
	src: url('ProximaNovaCond-ThinIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaCond-ThinIt.woff') format('woff'),
		url('ProximaNovaCond-ThinIt.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('ProximaNova-Semibold.eot');
	src: url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Semibold.woff') format('woff'),
		url('ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExCn Bl';
	src: url('ProximaNovaExCn-Black.eot');
	src: url('ProximaNovaExCn-Black.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaExCn-Black.woff') format('woff'),
		url('ProximaNovaExCn-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Rg';
	src: url('ProximaNovaCond-Bold.eot');
	src: url('ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaCond-Bold.woff') format('woff'),
		url('ProximaNovaCond-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExCn Th';
	src: url('ProximaNovaExCn-ExtrabldIt.eot');
	src: url('ProximaNovaExCn-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaExCn-ExtrabldIt.woff') format('woff'),
		url('ProximaNovaExCn-ExtrabldIt.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('ProximaNova-RegularIt.eot');
	src: url('ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-RegularIt.woff') format('woff'),
		url('ProximaNova-RegularIt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('ProximaNova-Regular.eot');
	src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Regular.woff') format('woff'),
		url('ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Rg';
	src: url('ProximaNovaCond-RegularIt.eot');
	src: url('ProximaNovaCond-RegularIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaCond-RegularIt.woff') format('woff'),
		url('ProximaNovaCond-RegularIt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova ExCn Th';
	src: url('ProximaNovaExCn-ThinIt.eot');
	src: url('ProximaNovaExCn-ThinIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaExCn-ThinIt.woff') format('woff'),
		url('ProximaNovaExCn-ThinIt.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova ExCn Lt';
	src: url('ProximaNovaExCn-SemiboldIt.eot');
	src: url('ProximaNovaExCn-SemiboldIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaExCn-SemiboldIt.woff') format('woff'),
		url('ProximaNovaExCn-SemiboldIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova ExCn Th';
	src: url('ProximaNovaExCn-Thin.eot');
	src: url('ProximaNovaExCn-Thin.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaExCn-Thin.woff') format('woff'),
		url('ProximaNovaExCn-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Rg';
	src: url('ProximaNovaCond-BoldIt.eot');
	src: url('ProximaNovaCond-BoldIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaCond-BoldIt.woff') format('woff'),
		url('ProximaNovaCond-BoldIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova ExCn Bl';
	src: url('ProximaNovaExCn-BlackIt.eot');
	src: url('ProximaNovaExCn-BlackIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaExCn-BlackIt.woff') format('woff'),
		url('ProximaNovaExCn-BlackIt.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url('ProximaNovaCond-Light.eot');
	src: url('ProximaNovaCond-Light.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaCond-Light.woff') format('woff'),
		url('ProximaNovaCond-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Bl';
	src: url('ProximaNovaCond-BlackIt.eot');
	src: url('ProximaNovaCond-BlackIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaCond-BlackIt.woff') format('woff'),
		url('ProximaNovaCond-BlackIt.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url('ProximaNova-ExtrabldIt.eot');
	src: url('ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-ExtrabldIt.woff') format('woff'),
		url('ProximaNova-ExtrabldIt.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('ProximaNova-Light.eot');
	src: url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Light.woff') format('woff'),
		url('ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('ProximaNova-SemiboldIt.eot');
	src: url('ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-SemiboldIt.woff') format('woff'),
		url('ProximaNova-SemiboldIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url('ProximaNovaCond-LightIt.eot');
	src: url('ProximaNovaCond-LightIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaCond-LightIt.woff') format('woff'),
		url('ProximaNovaCond-LightIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url('ProximaNovaT-Thin.eot');
	src: url('ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaT-Thin.woff') format('woff'),
		url('ProximaNovaT-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Bl';
	src: url('ProximaNova-Black.eot');
	src: url('ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Black.woff') format('woff'),
		url('ProximaNova-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Bl';
	src: url('ProximaNovaCond-Black.eot');
	src: url('ProximaNovaCond-Black.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaCond-Black.woff') format('woff'),
		url('ProximaNovaCond-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('ProximaNova-Bold.eot');
	src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Bold.woff') format('woff'),
		url('ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExCn Th';
	src: url('ProximaNovaExCn-Extrabld.eot');
	src: url('ProximaNovaExCn-Extrabld.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaExCn-Extrabld.woff') format('woff'),
		url('ProximaNovaExCn-Extrabld.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('ProximaNova-LightIt.eot');
	src: url('ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-LightIt.woff') format('woff'),
		url('ProximaNova-LightIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url('ProximaNovaCond-SemiboldIt.eot');
	src: url('ProximaNovaCond-SemiboldIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaCond-SemiboldIt.woff') format('woff'),
		url('ProximaNovaCond-SemiboldIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url('ProximaNova-Extrabld.eot');
	src: url('ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Extrabld.woff') format('woff'),
		url('ProximaNova-Extrabld.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Rg';
	src: url('ProximaNovaCond-Regular.eot');
	src: url('ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaCond-Regular.woff') format('woff'),
		url('ProximaNovaCond-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExCn Rg';
	src: url('ProximaNovaExCn-Bold.eot');
	src: url('ProximaNovaExCn-Bold.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaExCn-Bold.woff') format('woff'),
		url('ProximaNovaExCn-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExCn Rg';
	src: url('ProximaNovaExCn-Regular.eot');
	src: url('ProximaNovaExCn-Regular.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaExCn-Regular.woff') format('woff'),
		url('ProximaNovaExCn-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExCn Rg';
	src: url('ProximaNovaExCn-BoldIt.eot');
	src: url('ProximaNovaExCn-BoldIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaExCn-BoldIt.woff') format('woff'),
		url('ProximaNovaExCn-BoldIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('ProximaNova-BoldIt.eot');
	src: url('ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-BoldIt.woff') format('woff'),
		url('ProximaNova-BoldIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova ExCn Lt';
	src: url('ProximaNovaExCn-Light.eot');
	src: url('ProximaNovaExCn-Light.eot?#iefix') format('embedded-opentype'),
		url('ProximaNovaExCn-Light.woff') format('woff'),
		url('ProximaNovaExCn-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url('ProximaNova-ThinIt.eot');
	src: url('ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-ThinIt.woff') format('woff'),
		url('ProximaNova-ThinIt.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
